/* CSS reset */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, font, img, ins, kbd, q, samp, small, strong, sub, sup, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, header, nav, article, aside, footer, hgroup, section {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	text-decoration: none;
}
:focus, :active { outline: 0 }

ol, ul { list-style: none }

header, nav, article, aside, footer, hgroup, section { display: block }


/* Layout */
html {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 14px;
  color: #0B1728;
  line-height: 20px;
  background: #0B1728;
}

body {
	width: 960px;
	margin: 0 auto;
}

#content {
  width: 960px;
  height: 430px;
  margin: 15% 0 10px 0;
}

h2 {
  margin-bottom: 10px;
  font-family: "Trebuchet MS", Tahoma, Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
}


/* Content */
#sky {
  position: absolute;
  width: 960px;
  height: 430px;
  background: url("../images/sky.png") no-repeat 0px 26px;
}

#sky a {
  dispaly: block;
  position: absolute;
  float: left;
}

#rain {
  width: 178px;
  height: 296px;
  margin-top: 112px;
  margin-left: 22px;
  background: url("../images/rain.png") no-repeat;
  z-index: 10;
}

#bird {
  width: 186px;
  height: 285px;
  margin-top: 100px;
  margin-left: 220px;
  background: url("../images/bird.png") no-repeat;
  z-index: 1;
}

#star {
  width: 121px;
  height: 122px;
  margin-left: 450px;
  background: url("../images/star.png") no-repeat;
}

#cloud {
  width: 268px;
  height: 152px;
  margin-top: 225px;
  margin-left: 370px;
  background: url("../images/cloud.png") no-repeat;
  z-index: 10;
}

#heart {
  width: 90px;
  height: 71px;
  margin-top: 315px;
  margin-left: 595px;
  background: url("../images/heart.png") no-repeat;
  z-index: 1;
}

#tree {
  width: 266px;
  height: 392px;
  margin-top: 5px;
  margin-left: 660px;
  background: url("../images/tree.png") no-repeat;
  z-index: 1;
}

#grass {
  width: 936px;
  height: 44px;
  margin: 379px 12px 0 12px;
  background: url("../images/grass.png") no-repeat;
  z-index: 5;
}

.author {
  display: block;
  margin-top: 10px;
  font-style: italic;
  text-align: right;  
}


/* Footer */
#credits {
  font-style: italic;
  font-size: 12px;
  text-align: center;
  color: #B3B3B3;
}

#credits a {
  font-weight: bold;
  color: #B3B3B3;
}

#share div { float: left; }